---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);

const latest = posts[0];

import projects from "../data/projects.json";

const featuredProjects = projects.filter(
  project => project.featured
);
---

<BaseLayout title="Cris">
	<div class="welcome">
		<h1 id="welcomeh1">Hello there👋</h1>
	</div>
	<section class="hero" id="about">
		<h2>About Me</h2>
		<p>I'm Cris(or Crislzy), a teen developer from Romania and a Hack Club member.</p> 
		<p>I love coding websites, Slack Bolt bots in JavaScript and random projects for fun.</p>
		<p>I also like self-hosting things and experimenting with hardware, where I rarely fry stuff.</p>
		<div class="spacer-15px"></div>
		<p>Languages I use (or am currently learning):</p>
		<div class="home-coding-lang">
			<i class="fa-brands fa-js" title="JavaScript"></i>
			<i class="fa-brands fa-python" title="Python"></i>
			<i class="fa-brands fa-html5" title="HTML"></i>
			<i class="fa-brands fa-css3-alt" title="CSS"></i>
		</div>
		<p>Also, if you are searching for my 88x31 button, it's work in progress.</p>
	</section>
	<section id="projects" class="projects">
	<h2>Featured Projects</h2>

	<div class="projects-tab">
		{featuredProjects.map((project) => (
		<a
			class="post-card"
			href={project.url}
			target="_blank"
			rel="noopener noreferrer"
		>
			<h3>{project.title}</h3>
			<p>{project.description}</p>

			<div class="tags">
			{project.tags.map((tag) => (
				<span class="tag">{tag}</span>
			))}
			</div>
		</a>
		))}
	</div>

	<a class="back" href="/projects">
		See all projects
	</a>
	</section>
<section class="blog-index" id="latest-post">
  <h2>Latest Post</h2>

  <a class="post-card" href={`/blog/${latest.id}/`} style="margin-left: 15px;">
    <h3>{latest.data.title}</h3>
    <p class="date">
      {latest.data.date.toDateString()}
    </p>
  </a>
  <a class="back" href="/blog" style="margin-bottom: 0px;">See all posts</a>
</section>
	<section id="contact">
		<h2>Contact</h2>
		<ul>
			<li>Email: <a href="mailto:me@crislzy.xyz">me [at] crislzy [dot] xyz</a></li>
			<li>Discord: <a href="https://discord.com/users/920617892444258305" target="_blank" rel="noopener noreferrer me">Cris (@crislzy)</a></li>
			<li>HackClub Slack: <a href="https://hackclub.enterprise.slack.com/team/U09TNMQ9MCZ" target="_blank" rel="noopener noreferrer me">CrisLzy</a></li>
			<li>Github: <a href="https://github.com/crislazy">Crislazy</a></li>
			<li>Discord Server: <a href="https://l.webcris.icu/discord">here</a></li>
		</ul>
	</section>
	<section id="88x31">
		<h2>88x31 Buttons</h2>
        <a href="https://alexanderisashy.one" target="_blank"><img src="https://cdn.hackclub.com/019eb7f6-9096-7359-9ae6-b5d5c4bfa22f/gateway.png" alt="alex!"/></a>
        <a href="https://hackclub.com" target="_blank"><img src="https://cdn.hackclub.com/019eb7f9-f75f-7bde-ae35-10a1dd55073c/hackclub.gif" alt="come join the club!" width="88" height="31"/></a>
		<a href="https://squirrelz.xyz" target="_blank"><img src="https://squirrelz.xyz/squirrelz.png"></a>
		<a href="https://jbc.lol" target="_blank"><img src="https://jbc.lol/sitebutton3.png" alt="jb's site" style="image-rendering: pixelated;"/></a>
		<a href="https://nomaakip.xyz" target="_blank"><img src="https://nomaakip.xyz/img/buttons/button.png" alt="button"></a>
		<a href="https://dimden.dev/" target="_blank"><img src="https://dimden.dev/services/images/88x31.gif"></a>
	</section>
</BaseLayout>